.btn-hp:hover,
.btn-hp:focus {
  box-shadow: inset 0px -30px 0 0 #3954a5, inset 0px 30px 0 0 #3954a5;
  transition: 0.4s cubic-bezier(0.4, 0, 1, 1);
  text-shadow: 0px 6px 6px black;
}
.navbar,
.navbar-nav {
  min-height: 70px;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item.active,
.nav-item:hover,
.nav-item:focus {
  background-color: #3954a5;
}
.nav-item.active > .nav-link,
.nav-item:hover > .nav-link,
.nav-item:focus > .nav-link {
  color: #fff !important;
}
.nav-link {
  text-transform: uppercase;
}
.logo-footer-part {
  flex-wrap: wrap;
}
.logo-footer-part i {
  font-size: 50px;
  line-height: 0.85;
}
.contact-info-wrapper {
  font-size: 17px;
}
div.oneItem {
  min-height: 160px !important;
  max-height: 185px;
}
.oneItem h3 {
  padding-top: 5px;
}
.oneItem p {
  max-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.a-reset {
  color: #000;
  text-decoration: none !important;
}
.a-reset:hover {
  color: #000;
}
.itemDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel {
  margin-bottom: 30px !important;
}
.carousel-indicators {
  bottom: -45px !important;
}
.carousel-indicators li {
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  background-color: transparent;
  margin-right: 10px;
  width: 17px;
  height: 17px;
}
.carousel-indicators li.active {
  background-color: #000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  margin: 0;
  display: none;
}
.overlay .d-modal {
  box-shadow: 0px 0px 4px 1px #475f9e;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #5974f9;
  border-radius: 5px;
  background-color: white;
}

.overlay .d-modal span.close-modal {
  cursor: pointer;
}
