$btn-wmore-bg: #fbac2e;
.btn-more {
  display: block;
  margin: 30px auto;
  text-align: center;
  .btn-wmore {
    color: #fff;
    border-radius: 7px;
    padding: 5px 25px;
    background-color: $btn-wmore-bg;
  }
}
