.detail {
  .detail-wrapper {
    margin: 5% 0;
    .main-content {
      h1 {
        font-size: 34px;
        margin: 0 !important;
        text-transform: uppercase;
        font-weight: bold;
      }
      hr {
        margin-top: 0;
        border-top: 2px solid #000;
      }
      .detail-content {
        h2 {
          font-size: 18px;
          font-weight: bold;
        }
        p {
          font-size: 16px;
          margin-bottom: 30px;
        }
        img {
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  }
}
