.contact-top {
  border-bottom: 1px solid #ccc;
}
.contact-top .social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-top .social-media a {
  margin-right: 5px;
  background-color: #f2f2f3;
  text-decoration: none;
  text-align: center;
}
.contact-top .social-media a i {
  width: 30px;
  height: 30px;
  color: #a9a8a8;
  line-height: 30px;
}
.contact-top .email-contact i {
  color: #a9a8a8;
}
.contact-top .email-contact span {
  color: #a9a8a8;
  font-size: 18px;
  font-weight: lighter;
}

.banner-top .banner-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background: url('../images/slide_v1 copy.png') center center no-repeat;
  background-size: cover;
  min-height: 500px;
}
.form-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.form-search .form-title {
  background-color: #131944;
  border-radius: 30px;
  display: inline;
  padding: 15px 20px;
  color: #fff;
  font-size: 27px;
  transform: translateY(34px);
}
.form-search form {
  border-radius: 10px;
  padding: 50px 40px;
  border: 1px solid #ccc;
}
.form-search form .one-select {
  margin-bottom: 15px;
}
.form-search form .bootstrap-select {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-search form .btn-search {
  background-color: #fbac2f;
  color: #fff;
  width: 220px;
}
.slick-arrow {
  position: absolute;

  bottom: 0;
  top: 0;
  font-size: 30px;
  display: inline-flex;
  align-items: center;
  z-index: 10000;
  background: transparent;
  color: #fff;
}
.arrow-left {
  left: 15px;
}
.arrow-right {
  right: 15px;
}
.slick-dots {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  position: absolute;
  margin-bottom: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}
.slick-dots li button {
  border-radius: 50%;
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
  color: transparent;
  width: 15px;
  margin-right: 10px;
  height: 15px;
}
.slick-dots li.slick-active button {
  background-color: #fff;
  color: transparent;
}

.one-slide {
  flex-wrap: wrap-reverse;
  flex-shrink: 1;
}
.one-slide .left {
  flex-basis: 50%;
  margin-top: 20px;
}
.one-slide .left img {
  min-width: 500px;
  width: 100%;
  height: 100%;
}
.one-slide .left .price {
  position: absolute;
  background-color: #efae34;
  padding: 5px 17px;
  color: #fff;
  opacity: 0.8;
  transform: translateY(-34px);
}
.one-slide .right {
  flex-basis: 50%;
  padding: 0 15px;
  flex-grow: 1;
}
.one-slide .right .right-top {
  font-size: 20px;
  font-weight: 400;
}
.one-slide .right .right-top p.name {
  font-size: 40px;
  font-weight: 600;
}
.one-slide .right .right-top p.info {
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
}
.one-slide .right .right-bot div {
  margin-left: 25px;
}
.one-slide .right .right-bot .btn-orange {
  background-color: #fbac2f;
  color: #fff;
  border-radius: 7px;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
}

.btn-more {
  display: block;
  margin: 30px auto;
  text-align: center;
}

.card {
  width: unset !important;
}
.card .card-title {
  font-size: 20px;
  font-weight: 600;
}

.contact-us {
  background: linear-gradient(
      to right,
      rgba(94, 111, 163, 0.7),
      rgba(94, 111, 163, 0.7)
    ),
    url('../images/bg_testimonial_V1.png') center center no-repeat;
  background-size: cover;
}
.contact-us .btn-contact {
  color: #fff;
  border-radius: 7px;
  padding: 5px 25px;
  background-color: #fbac2e;
}

.footer {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/background-footer.png') center center no-repeat;
  background-size: cover;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer .container .row {
  margin-top: 5%;
}
.footer .container .row .title-footer {
  position: relative;
  margin-bottom: 25px !important;
}
.footer .container .row .title-footer a {
  color: #fbac2e;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.footer .container .row .title-footer::before {
  width: 40px;
  content: '';
  background-color: #fbac2e;
  height: 5px;
  position: absolute;
  bottom: -10px;
}
.footer .container .row ul.footer-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer .container .row ul.footer-ul li {
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}
.footer .container .row ul.footer-ul li a {
  font-size: 20px;
  text-decoration: none;
}

nav.navbar {
  padding: 0 !important;
}
nav.navbar a.nav-link {
  font-size: 18px;
}
nav.navbar .phone-place {
  align-items: center;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}
nav.navbar .phone-place img {
  width: 25px;
  height: 43px;
}
nav.navbar .phone-place .callnow {
  padding: 5px;
}
nav.navbar .phone-place .callnow p {
  margin-bottom: 0px;
  font-weight: lighter;
  font-size: 18px;
  color: #000;
}
nav.navbar .phone-place .callnow .text-blue {
  font-size: 19px;
  font-weight: 600;
  color: #3a54a5;
}

.contact-form-wrapper {
  padding: 5% 3%;
  border: 1px solid #cdcccc;
  margin: 5% 0;
  color: #3953a4;
}
.contact-form-wrapper h1 {
  text-transform: uppercase;
  font-weight: bold;
}
.contact-form-wrapper form label {
  font-style: italic;
}
.contact-form-wrapper form .btn-hp {
  margin: 0 !important;
}

.contact-address-wrapper {
  color: #0000ff;
  border: 1px solid #ccc;
  margin: 5% 0;
}
.contact-address-wrapper h2 {
  position: relative;
}
.contact-address-wrapper h2::before {
  width: 120px;
  content: '';
  background-color: #0000ff;
  height: 10px;
  position: absolute;
  bottom: -10px;
}
.contact-address-wrapper .left {
  padding: 5% 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-wrapper {
  margin: 5% 0;
  font-weight: 500;
  padding: 0 15px;
}
.project-wrapper .selection ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.project-wrapper .selection ul li {
  background-color: #3d51a3;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-bottom: 5px;
  border: 1px solid #fff;
}
.project-wrapper .selection ul li.active {
  background-color: #fbac2e;
}
.project-wrapper .main-content {
  padding: 0;
}
.project-wrapper .main-content .title h2 {
  color: #fbac2e;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 600;
}
.project-wrapper .main-content .oneItem {
  border: 1px solid #ccc;
  margin: 0;
}
.project-wrapper .main-content .oneItem .left {
  padding: 0;
  display: flex;
}
.project-wrapper .main-content .oneItem .left img {
  max-height: 180px;
}
@media screen and (max-width: 575px) {
  .project-wrapper .main-content .oneItem .left img {
    max-height: unset !important;
  }
  .menu-top,
  .contact-top {
    padding: 0 15px;
  }
}
.project-wrapper .main-content .oneItem .itemDetail h3 {
  font-size: 24px;
  font-weight: 600;
}
.project-wrapper .main-content .pagination {
  align-items: center;
}
.project-wrapper .main-content .pagination .line {
  flex: 1;
  background-color: #ccc;
  height: 1px;
}
.project-wrapper .main-content .pagination .paginator {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 3px 10px;
}
.project-wrapper .main-content .pagination .paginator ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.project-wrapper .main-content .pagination .paginator ul li {
  margin-right: 8px;
}
.project-wrapper .main-content .pagination .paginator ul li.active {
  color: #373772;
  text-decoration: underline;
  font-weight: 600;
}
.project-wrapper .main-content .pagination .paginator i {
  line-height: unset !important;
  text-align: center;
}

.detail-wrapper {
  margin: 5% 0;
}
.detail-wrapper .main-content {
  padding-right: 35px;
}
.detail-wrapper .main-content h1 {
  font-size: 34px;
  margin: 0 !important;
  text-transform: uppercase;
  font-weight: bold;
}
.detail-wrapper .main-content hr {
  margin-top: 0;
  border-top: 2px solid #000;
}
.detail-wrapper .main-content .detail-content h2 {
  font-size: 18px;
  font-weight: bold;
}
.detail-wrapper .main-content .detail-content p {
  font-size: 16px;
  margin-bottom: 30px;
}
.detail-wrapper .main-content .detail-content img {
  width: 100%;
  margin-bottom: 30px;
}
.detail-wrapper .main-content .detail-content .summary-menu {
  border: 1px solid #3953a4;
  background-color: #ebebeb;
  border-radius: 1px;
  margin-bottom: 20px;
  padding: 20px 40px 20px 20px;
  display: block;
  font-size: 18px;
}
.detail-wrapper .main-content .detail-content .summary-menu .title {
  text-transform: uppercase;
  color: #000;
  margin: 15px 0;
}
.detail-wrapper .main-content .detail-content .summary-menu .ul-level1 {
  padding: 0;
  list-style-type: none;
}
.detail-wrapper .main-content .detail-content .summary-menu .ul-level1 a {
  text-transform: uppercase;
  text-decoration: none;
  color: #3953a4;
}
.detail-wrapper
  .main-content
  .detail-content
  .summary-menu
  .ul-level1
  .ul-level2 {
  list-style-type: none;
}

.bg-w {
  background-color: #fff;
}

.mgx-a15 {
  margin-left: -15px;
  margin-right: -15px;
}

.pdx-a15 {
  padding-left: 0px;
  padding-right: 0px;
}

.mw-100 {
  max-width: 100%;
}

.h2-title {
  padding: 2% 0 !important;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.pd-20 {
  padding: 20px;
}

.pdy-10 {
  padding: 10px 0;
}

.logo {
  width: 110px;
  height: 45px;
}

.bg-grey {
  background-color: #fafbfb;
}

.cl-white {
  color: #fff;
}

.btn-hp {
  text-transform: uppercase;
  color: #fff;
  background-color: #fbac2e;
  padding: 10px 20px;
  margin: 3% auto;
  border-radius: 7px;
}

.icon-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-right: 20px;
}
.icon-wrap span {
  display: inline-flex;
  align-items: flex-end;
  font-weight: 500;
}
.icon-wrap span img {
  margin-right: 10px;
}

@font-face {
  font-family: Muli;
  src: url('../font/Muli-Regular.ttf');
}
@font-face {
  font-family: Muli;
  font-weight: bold;
  src: url('../font/Muli-Bold.ttf');
}
@font-face {
  font-family: Muli;
  font-weight: lighter;
  src: url('../font/Muli-Light.ttf');
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Muli;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html textarea,
body textarea {
  height: 210px !important;
}

.relatedNews h2 {
  position: relative;
}
.relatedNews h2 a {
  font-size: 30px;
  font-weight: 600;
  color: #fbac2e;
  text-transform: uppercase;
  text-decoration: none;
}
.relatedNews h2::before {
  width: 110px;
  content: '';
  background-color: #fbac2e;
  height: 5px;
  position: absolute;
  bottom: -5px;
}
.relatedNews .content {
  margin-bottom: 20px;
}
.relatedNews ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.relatedNews ul a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  align-items: flex-start;
}
.relatedNews ul img {
  padding: 10px 10px 10px 5px;
}

.w-220 {
  width: 220px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .hide-md-part {
    display: none;
  }
}
a.nav-link {
  font-weight: bold;
  color: #000;
}

.card-img-top {
  height: 260px;
}

/*# sourceMappingURL=style.css.map */

.contact-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  width: 50px;
  height: 250px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column-reverse;
  font-size: 30px;
}
.one-block {
  position: relative;
  border: 1px solid #000;
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
  line-height: 50px;
  text-align: center;
  margin-top: 10px;
}
.hide-item {
  transform: translateY(300px);
}
.contact-popup:hover .hide-item {
  transform: translate(0);
  transition: 0.4s ease-in-out;
}

.advertisement {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 120;
  transition: 0.4s ease-in-out;
  display: none;
}
.advertisement img {
  width: inherit;
  height: inherit;
}
.b-280 {
  bottom: 280px !important;
}
.b-350 {
  bottom: 350px !important;
}
.close-ads {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #969292;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: white;
  text-align: center;
}

.one-tooltip.active {
  display: flex;
}
.one-tooltip {
  height: 50px;
  width: 320px;
  word-break: break-word;
  padding: 0 10px;
  border: 1px solid #2e42dc;
  color: #fff;
  border-radius: 10px;
  position: fixed;
  background-color: #0062cc;
  display: none;
  right: 80px;
  align-items: center;
  z-index: 400;
}
.tooltip-hide-item .one-tooltip:first-of-type {
  bottom: 200px;
}
.tooltip-hide-item .one-tooltip:nth-of-type(2) {
  bottom: 140px;
}
.tooltip-hide-item .one-tooltip:last-of-type {
  bottom: 80px;
}
.tooltip-show-item .one-tooltip {
  bottom: 20px;
}
.close-tooltip {
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  background: red;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #fff;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  right: -10px;
  top: 13px;
  bottom: 20px;
  background: transparent;
  border-left: 10px solid #0062cc;
}
.form-email {
  position: fixed;
  right: 80px;
  bottom: 100px;
  display: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0062cc;
  z-index: 300;
}
.form-email .input-wrapper {
  margin-top: 10px;
}
.form-email input {
  border: 1px solid #0062cc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 5px;
}
.form-email.form-show {
  display: block;
}
.form-email-close {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: red;
  border: 1px solid #131944;
}
.form-email .btn-wrapper {
  margin-top: 10px;
  text-align: center;
}
.form-email .btn-submit {
  border: 1px solid #0062cc;
  border-radius: 5px;
  padding: 5px 25px;
  color: #0062cc;
}
.form-email .btn-submit:hover {
  background-color: #efae34;
}
